
$white-background:#fff;
$gray-bg:#eef2f7;
$colorsof-a:#000;
$q-color:#000;
$black-hd:#000;
$blue:#0575ff;
$border:#d3d3d3;
$underline-txt:#d3d3d3;
$text-color:#666;
$large-heading:#4c4c4c;
$small-heading:rgba(94,94,107,0.6);
$button-text:#fff;
$button-bg:#363c44;
$white-hd:#fff;
$standard:#02f2c5;
$cards-bg:#fcfcfc;
$white-txt:#fff;





$light:300;
$regular:400;
$medium:500;
$bold:700;
$bolder:900;


$xx-samll:9px;
$x-small:10px;
$small:13px;
$medium-txt:15px;
$large:18px;
$larger:19px;
$x-large:24px;
$xx-large:32px;
$mediumsize-heading:40px;
$standard-hd:50px;
$fullsize-heading: 60px;
$faq-h2:30px;
